In [5]:
import pandas as pd
import sdv

In [6]:
data = pd.read_csv("C:/Daten/DAV Ausbildung/AG/Datenbasis_V4.csv")

# 1. Create the Meta data

In [7]:
# detect metadata from csv data 
from sdv.metadata import SingleTableMetadata

metadata = SingleTableMetadata()

In [8]:
metadata.detect_from_csv(filepath='C:/Daten/DAV Ausbildung/AG/Datenbasis_V4.csv')

In [9]:
# make a python dictionary out of your meta data
python_dict = metadata.to_dict()

# check if everything went correctly
metadata.validate()

In [11]:
# update the columns of your meta data 
metadata.update_column(
    column_name = 'Religioese_Zugehoerigkeit',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Religion_allgemein',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Geburtsdatum',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Geburtsjahr',
    sdtype = 'numerical',
    computer_representation = 'Float'
)


metadata.update_column(
    column_name = 'Geburtsjahr_Jahr_Monat',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Krankheit_KZ',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Geschlecht',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Ethnizitaet',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Vorname',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Nachname',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Postleitzahl_5st',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Postleitzahl_2st',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Ort_5st',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Ort_2st',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Einwohner_5st',
    sdtype = 'numerical',
    computer_representation = 'Float'
)

metadata.update_column(
    column_name = 'Einwohner_2st',
    sdtype = 'numerical',
    computer_representation = 'Float'
)

metadata.update_column(
    column_name = 'Kaufkraft_pro_Einwohner_in_EUR_5st',
    sdtype = 'numerical',
    computer_representation = 'Float'
)

metadata.update_column(
    column_name = 'Kaufkraft_pro_Einwohner_in_EUR_2st',
    sdtype = 'numerical',
    computer_representation = 'Float'
)

metadata.update_column(
    column_name = 'Kaufkraft_pro_Haushalt_in_EUR_5st',
    sdtype = 'numerical',
    computer_representation = 'Float'
)

metadata.update_column(
    column_name = 'Kaufkraft_pro_Haushalt_in_EUR_2st',
    sdtype = 'numerical',
    computer_representation = 'Float'
)

metadata.update_column(
    column_name = 'Branche',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Beruf',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Gehalt_in_EUR',
    sdtype = 'numerical',
    computer_representation = 'Float'
)

metadata.update_column(
    column_name = 'Range_Gehalt_in_EUR_Ebene_0',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Range_Gehalt_in_EUR_Ebene_1',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Code',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Interval_Ebene_0',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Interval_Ebene_1',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Icd10_code',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Kapitel_Ebene_0',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Titel_Ebene_0',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Titel_Ebene_1',
    sdtype = 'categorical'
)

metadata.update_column(
    column_name = 'Titel_Ebene_2',
    sdtype = 'categorical'
)

# 2. Train a CTGAN

In [12]:
from sdv.single_table import CTGANSynthesizer
import pandas as pd
import json

## 2.1 Train a CTGAN with default Hyperparameters

In [13]:
synthesizer_default = CTGANSynthesizer(
    metadata, 
    enforce_min_max_values = True, 
    enforce_rounding = True,
    epochs = 300,
    batch_size = 500, 
    generator_dim = (256, 256),
    discriminator_dim = (256,256), 
    verbose = True)

c:\Daten\DAV Ausbildung\AG\new_env\Lib\site-packages\sdv\single_table\base.py:92: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

In [14]:
%%capture output 

synthesizer_default.fit(data)

In [16]:
# save model 
synthesizer_default.save(
    filepath = 'C:/Daten/DAV Ausbildung/AG/saved_models/ctgan_default.pkl'
)

In [18]:
# sample synthetic data 

synthetic_data_default = synthesizer_default.sample(len(data.index))
#synthetic_data.head()
synthetic_data_default.describe()

,Identifikationsnummer,Geburtsjahr,Krankheit_KZ,Postleitzahl_5st,Postleitzahl_2st,Einwohner_5st,Einwohner_2st,Kaufkraft_pro_Einwohner_in_EUR_5st,Kaufkraft_pro_Einwohner_in_EUR_2st,Kaufkraft_pro_Haushalt_in_EUR_5st,Kaufkraft_pro_Haushalt_in_EUR_2st,Gehalt_in_EUR
count,5.000000e+01,50.000000,50.000000,50.000000,50.0000,50.000000,5.000000e+01,50.000000,50.000000,50.00000,50.000000,50.000000
mean,4.568094e+08,1986.480000,0.420000,55635.460000,49.9200,9414.380000,7.808381e+05,22338.105400,23510.536800,44048.36260,44810.009400,2807.900000
std,3.033075e+08,23.193278,0.498569,29423.452391,33.4242,7959.326638,3.136179e+05,2629.525671,2165.118052,5926.31075,6074.151985,1402.805007
min,7.862534e+06,1950.000000,0.000000,4613.000000,3.0000,21.000000,2.916450e+05,17385.380000,19365.980000,33378.48000,37243.450000,1450.000000
25%,1.860751e+08,1965.250000,0.000000,29331.000000,14.7500,4535.750000,5.201648e+05,20603.902500,22315.947500,39961.35750,39745.432500,1881.750000
50%,4.497076e+08,1983.500000,0.000000,56443.000000,55.0000,8042.500000,8.259435e+05,22669.455000,23682.335000,43032.49000,43425.010000,2217.000000
75%,6.873676e+08,2008.250000,1.000000,83334.000000,78.0000,12227.750000,9.706790e+05,24077.182500,25134.857500,48376.70500,49305.822500,3232.000000
max,9.518824e+08,2022.000000,1.000000,99768.000000,99.0000,44574.000000,1.464069e+06,29024.080000,26393.230000,57445.58000,55408.650000,7050.000000

In [28]:
# write csv file
# for synthetic data 
synthetic_data_default.to_csv("C:/Daten/DAV Ausbildung/AG/saved_models/ctgan_default.csv")

## 2.2 Train a CTGAN with tuend hyperparmeters

In [29]:
# tryout various parameters 
# Hyperparameters and their meaning: https://docs.sdv.dev/sdv/single-table-data/modeling/synthesizers/ctgansynthesizer
my_constraint = {
    'constraint_class': 'Positive',
    'constraint_parameters': {
        'column_name': 'children'
    }
}


synthesizer = CTGANSynthesizer(
    metadata, 
    enforce_min_max_values = True, 
    enforce_rounding = True,
    epochs = 1000,
    batch_size = 1000, 
    generator_dim = (256, 256, 256, 256),
    discriminator_dim = (256,256,256, 256), 
    verbose = True)

In [31]:
%%capture output 

synthesizer.fit(data)

In [ ]:
# save model 

synthesizer.save(
    filepath = 'C:/Daten/DAV Ausbildung/AG/saved_models/ctgan_tuned.pkl'
)

In [ ]:
# sample synthetic data 

synthetic_data = synthesizer.sample(len(data.index))
#synthetic_data.head()
synthetic_data.describe()

In [ ]:
# Format the output into a table named loss_values
epochs_output = str(output).split('\n')
raw_values = [line.split(',') for line in epochs_output]

loss_values = pd.DataFrame(raw_values)[:-1]
loss_values.columns = ['Epoch', 'Generator Loss', 'Discriminator Loss']
loss_values['Epoch'] = loss_values['Epoch'].str.extract('(\d+)').astype(int)
loss_values['Generator Loss'] = loss_values['Generator Loss'].str.extract('([-+]?\d*\.\d+|\d+)').astype(float)
loss_values['Discriminator Loss'] = loss_values['Discriminator Loss'].str.extract('([-+]?\d*\.\d+|\d+)').astype(float)